layout {
    gaps 10
    background-color "transparent"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#b4befe"
        inactive-color "#505050"
    }

    border {
        off
        width 1
        active-color "#707070"
        inactive-color "#d0d0d0"
        urgent-color "#cc4444"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
    }
}

overview {
    workspace-shadow {
        off
    }
}
