spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "swaybg" "-i" "/home/vport/Pictures/wallpapers/Firefox_wallpaper.png" "-m" "fill"
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "sh" "/home/vport/.config/niri/scripts/idle.sh"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
