recent-windows {
    binds {
        Alt+Tab { next-window scope="output"; }
        Alt+Shift+Tab { previous-window scope="output"; }
        Alt+grave { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 22
}

blur {
    passes 2
    offset 1
    noise 0.05
    saturation 0.5
}
