include "inputs-outputs.kdl"
include "layout.kdl"
include "rules.kdl"
include "keybindings.kdl"

spawn-at-startup "noctalia"
spawn-at-startup "vicinae" "server"

include "noctalia.kdl"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/screenshot_%Y-%m-%d_%H-%M-%S.png"

