[opener]
litio = [
	{ run = 'litio "$@"', desc = "litio" },
]
Chemcraft = [
	{ run = 'wine /home/vport/.wine/drive_c/Chemcraft/Chemcraft.exe "$@"', desc = "Chemcraft" },
]
bibiman = [
	{run = 'bibiman "$@"', block = true, desc = "bibiman"}
]
edit = [
	{ run = '$EDITOR "$@"', block = true, for = "unix" },
]

[open]
prepend_rules = [
	{ name = "*.inp", use = ["edit", "Chemcraft"] },
	{ name = "*.xyz", use = ["litio", "edit", "Chemcraft"] },
	{ name = "*.out", use = ["Chemcraft", "edit"] },
	{ name = "*.bib", use = ["bibiman"]}
]



